<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Question and Answer Tools</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


</head>

<body>


  <div class="container">

    <h1 class="text-center" class="mt-5">Best Question and Answer Tools</h1>

    <p><h4>You've got a question but no answer, you can always ask the AI. </h4></p>

    <div class="row">
      <div class="col-lg-6">
        <form class="" action="/" method="post">
          <div class="mb-3">
            <label for="question" class="form-label">What Question do you want to get answer on?</label>
            <input type="text" class="form-control" name="question" placeholder="Enter Questions here ">
          </div>
          <input type="hidden" name="form1" value="form1">

          <button type="submit" class="btn btn-success">Generate answers</button>
        </form>
      </div>
      <div class="p-3 rounded">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="text-primary"></h3>
            <p class="lead"></p>
          </div>
          <div class="form-groupr">
            <textarea class="form-control" rows="10">{{answers|safe}}</textarea>
          </div>
        </div>
      </div>
    </div>


  </div>





  <div class="input-group">




  </div>
  </div>


  </div>
  <div class="input-group">
    <div class="col-lg-6">


    </div>

  </div>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</body>

</html>